.cal-head
  position relative
  height 20px
  padding 8px 6px 2px 6px

.cal-prev,.cal-next
  position absolute
  top 9px
  width 9px
  height 10px
  padding 3px 4px
  border 1px solid transparent
  border-radius 2px
  color #333
  text-decoration none
  outline 0

.cal-prev
  left 8px
  &:before
    border-right 9px solid #333

.cal-next
  right 8px
  &:before
    border-left 9px solid #333

.cal-prev:before,.cal-next:before
  content ''
  display block
  width 0
  height 0
  border-top 5px solid transparent
  border-bottom 5px solid transparent

.cal-prev:hover,.cal-next:hover
  border 1px solid color-calendar-hover-border
  background color-calendar-hover-bg

.cal-title
  width 120px
  margin 0 auto
  color #333
  font bold 14px/18px Arial
  text-align center
  a
    border 1px solid transparent
    border-radius 2px
    text-decoration none
    color color-theme
    &:hover
      border-color color-calendar-hover-border
      background color-calendar-hover-bg

.cal
  width 100%
  text-shadow none
  border-spacing 1px
  th
    background color-theme
    color #fff
    padding 2px
    border 1px solid color-theme
  td
    border 1px solid #ccc
    text-align center
  .cal-today
    background color-theme
    color #fff
  .cal-gray
    color #ddd
  a
    color color-theme
    text-decoration none
  .cal-post
    &:hover
      background-color color-calendar-hover-border
      border-color color-calendar-hover-bg
    &:after
      background color-theme
      border-radius 50%
      display block
      content ''
      height 5px
      left 50%
      margin -2px 0 0 -2px
      position relative
      width 5px

.cal,.cal th
  text-align center

.cal-foot
  &:hover
    border 1px solid color-calendar-hover-border
    background color-calendar-hover-bg
    cursor pointer
